configMapGenerator:
- files:
  - application.yml
  name: jihye0909-configmap
resources:
- ../../base
- pvc.yaml
patchesStrategicMerge:
- deployment.yaml
- ingress.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prod-
images:
- name: ceappacr.azurecr.io/82058454
  newTag: "202410070803"
- name: cepgstapacr.azurecr.io/82058454
  newTag: "202410170229"
